body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao{
    width: 78%;
    display: flex;
    justify-content: flex-start;
    margin-top: 5x;
}
.botao button{
    margin: 5px;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}
